/* Style for rest of card */
html {
	overflow: scroll;
	overflow-x: hidden;
}
.card {
	font-family: "Noto Sans", Ubuntu, Manjari, Arimo, Arial;
	font-size: 24px;
	background-color: #eee;
}
.card.nightMode {
	background-color: #333;
}
.color-red{color:#d65447}
.color-green{color:#27ae60}
.color-blue{color:#489fd9}
.color-grey{color:#777}
.center {
	text-align: center;
}
.small {
	font-size: 20px;
}
.subtitle {
	font-size: 18px;
	font-style: italic;
}
