html {
	overflow: scroll;
	overflow-x: hidden;
}
.card, input#typeans {
	font-family: "Noto Sans", Ubuntu, Manjari, Arimo, Arial;
	font-size: 22px;
}
.card {
	background-color: #eee;
	color: #333;
}
.card.nightMode {
	background-color: #333;
	color: #eee;
}
.color-red {
	color:#d43424;
}
.nightMode .color-red {
	color:#f26868;
}
.color-green {
	color:#137d40;
}
.nightMode .color-green {
	color:#27ae60;
}
.color-blue {
	color:#2c69bf;
}
.nightMode .color-blue {
	color: #52aeeb;
}
.color-grey {
	color:#777;
}
.nightMode .color-grey {
	color:#999;
}
.center {
	text-align: center;
}
.small {
	font-size: 19px;
}
.subtitle {
	font-size: 17px;
	font-style: italic;
}
img {
	max-height: 200px;
}
/* Cloze deletions */
.cloze, .cloze b, .cloze u, .cloze i {
  font-weight: bold;
  color: #27aea0 !important;
}
input#typeans {
 display:block;
 border:none;
 border-bottom:1px solid #ccc;
 width:100%;
 background-color:rgba(0,0,0,0);
 color:inherit;
}